.button {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: rgb(211 211 211 / 0);
  background-image: url("../../../src/assets/del.svg");
}

.button:hover {
  background-image: url("../../../src/assets/del-hover.svg");
}
